<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="font-family:Arial;">
            <tr>
                <td colspan="2">
                    <h1 style="color:#073D63; text-align:center; margin-bottom: 0px;">
                        <center>Lab Management System</center>
                        <hr style="height:5px; background-color:#073D63; border:0px; margin-top:5px; ">
                    </h1>
                </td>
            </tr>