#include("emailTemplates/emailHeader.vm")
            <tr>
                <td style="padding: 5px 15px 15px 15px;" colspan="2">
                    <p> Hi ${user.firstName} ${user.lastName},</p>
                    <p>
                        Now you can log in into our system using this <b>${password}</b> password. 
                    </p>
                    <p>
                        To make your account more safe you should change this password to your personal one in settings of your account.
                    </p>
                </td>
            </tr>
#include("emailTemplates/emailFooter.vm")